# Dependency directories
/node_modules
/.pnp
.pnp.js
sample.txt
# Built output
/build
/dist

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache and logs
/.cache
/.eslintcache
/*.log

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Testing files
/coverage

# Miscellaneous
.DS_Store
Thumbs.db
