@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: 0.2s all ease-in-out;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

 
.no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
